// -------- NAVIGATION ----------

header {
    width: 90%;
    margin: 20px auto;
    // border: 1px solid blue;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    .logo, .nav-bar__top, h2, .side-nav {
        display: inline-block;
        vertical-align: middle;
    }

    .logo__s {
        display: none;
    }

    .side-nav__s {
        display: none;
    }
}

    .nav-bar__s {
        display: none;
    }
header h2 {
    width: auto;
    // border: 1px solid red;
    font-size: 35px;
    margin: 10px 0 10px 100px;
}
.logo {
    width: 40px;
    height: 52px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    img {
        width: 100%;
    }
}

.nav-bar__top {
    list-style: none;
    margin-left: 40px;
    // position: absolute;
    // right: 0;
    // transition: all 0.2s ease-in-out;
    // border: 1px solid red;
    // position: fixed;
    .nav-bar-item{
        cursor: pointer;
        display: inline-block;
        margin-right: 50px;
        // width: 80px;
        letter-spacing: 2px;
        // border: 1px solid red;
        font-family: $bodyFont;
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.side-nav {
    position: absolute;
    right: 0px;
    width: 40px;
    margin-top: 17px;
    .hamburger{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        width: 40px;
        height: 55px;
        transition: all 0.5s ease-in-out;
        & > div {
            height: 3px;
            background: black;
            margin-bottom: 7px;
            position: relative;
        }
        .line1 {
            width: 40px;
            transition: all 0.5s ease-in-out;
            // display: inline-block;
        }
        .line2 {
            width: 33px;
        }
        .line3 {
            width: 24px;
        }
    }
}

#growth-line.open {
    width: 40px;
    transition: all 0.3s;
}


.toggle-nav {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out
}


.toggle-growth-line {
    width: 140px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

#current-view {
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: -150px;
    width: 150px;
    top: -10px;
    padding-right: 15px;
    text-align: right;
    // border: 1px solid red;
    font-size: 16px;
    letter-spacing: 1px;
}

.toggle-current-view {
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.nav-bar__side {
    position: fixed;
    // border: 1px solid red;
    // margin: 0;
    right: -190px;
    transform: rotate(90deg);
    top: 190px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    li {
        cursor: pointer;
        display: inline-block;
        padding-right: 20px;
        // margin-right: 50px;
        // width: 80px;
        letter-spacing: 2px;
        // border: 1px solid red;
        font-family: $bodyFont;
        font-size: 16px;
        margin-bottom: 0;
        // margin-top: 0;
    }
}

.toggle-nav__side {
    visibility: visible;
    opacity: 1;
    transition: all 0.5 ease-in-out;
}




// ------ HERO ---------

.hero {
    width: 80%;
    margin: 20px auto;
    // padding-top: 100px;
    height: calc(100vh - 170px);
    // border: 1px solid red;
    justify-content:space-between;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    top: 80px;
    // z-index: 500;
    .slider{
        width: 55%;
        height: 100%;
        // border: 1px solid blue;
    }

    .hero-text {
        width: 40%;
        height: 100%;
        // border: 1px solid blue;
    }
}

.keyline2-cell {
    position: absolute;
    top: 36vh;
    left: 55vw;
    width: 1px;
    transition: all 0.3s;
    .keyline2 {
        // content: '';
        height: 49vh;
        width: 1px;
        background: black;
        z-index: 0;
        position: relative;
        transition: all 0.3s;
        .keyline-text {
            transform: rotate(90deg);
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 1px;
            margin: 0;
            position: absolute;
            bottom: -80px;
            left: -60px;
            width: 120px;
            transition: all 0.2s;

        }
    }
}



.keyline1 {
    // content: '';
    width: 70vw;
    background: black;
    height: 1px;
    position: absolute;
    top: 65vh;
    left: 0;
    z-index: 0;
}



.slider {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center
}
.main-carousel {
    height:28vw;
    width: 40vw;
    overflow: hidden;
    box-shadow:
        0px 0px 40px rgba(0,0,0,0.05),
        0px 0px 0.05px rgba(0,0,0,0.05),
        -12px 12px 0px white,
        -12px 12px 20px rgba(0,0,0,0.1),
        -24px 24px 0 white,
        -24px 24px 40px rgba(0,0,0,0.15)
}

.carousel-cell {
    width: 100%;
    height: 28vw;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    img {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
    }
}

.cell__2 img {
    // transform: skewY(0deg) skewX(20deg) translateX(-40%) translateY(10%) perspective(199px) rotateY(5deg);
    // transform: scale(2) translateX(-10%);
     // skewY(5deg) skewX(5deg)
     // transform: translateX(-40%) translateY(10%) rotate3d(1, 1.0, 10.0, 10deg)

}

.flickity-page-dots {
    display: none;
}

.cell__1 {
    background-color: peachpuff;
}

.cell__2 {
    background-color: lightcyan;
}

.cell__3 {
    background-color: papayawhip;
}

// hero text
.hero-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    h2{
        // text-align: right;
        // border: 1px solid blue;
        margin-top: 150px;
        letter-spacing: 1px;
        // margin-right: 5vw;
    }
    h1{
        font-size: 80px;
        // border: 1px solid blue;
        margin-bottom: 0px;
        min-width: 100%;
        // margin-top: 90px;

    }
    p {
        // border: 1px solid blue;
        letter-spacing: 1px;
        margin-bottom: 250px;
        // margin-top: 30px;
        font-weight: 300;
    }
}


@media (max-width: 1120px) {
    .hero-text {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        h2{
            margin-top: 150px;
            letter-spacing: 1px;
        }
        h1{
            font-size: 60px;
            margin-bottom: 20px;
            min-width: 100%;
        }
        p {
            letter-spacing: 1px;
            margin-bottom: 200px;
            margin-top: 0;
            font-weight: 300;
        }
    }
}

@media (max-width: 900px) {
    .hero {
        width: 90%;
        height: 500px;
        .slider{
            width: 50%;
            padding-bottom: 70px;
        }
        .hero-text {
            width: 50%;
        }
    }

    .keyline2-cell {
        display: none;
    }
    .keyline1 {
        top: 26vh;
        width: 25vw;
        left: 70vw;
    }

    .side-nav {
        .hamburger {
            display: none;
        }
        .nav-bar__side {
            display: none;
        }
    }
    .keyline2__static {
        height: 200px;
        position: absolute;
        top: 23vh;
        right: 60px;
        background-color: black;
        width: 1px;
    }
}



@media (max-width: 700px) {

    .hero {
        width: 80%;
        margin: 20px auto;
        // padding-top: 100px;
        height: calc(100vh - 170px);
        // border: 1px solid red;
        justify-content:space-between;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        top: 80px;
        // z-index: 500;
        .slider{
            display: none;
        }

        .hero-text {
            width: 100%;
            // border: 1px solid blue;
        }
    }



    header {
        position: static;
        .logo, .nav-bar__top, h2, .side-nav {
            display: none;
        }
        .logo__s {
            display: block;
            width: 30px;
            height: 40px;
            position: static;
            svg {
                height: 40px;
                width: 30px;
            }

        }

    }

        .side-nav__s {
            position: absolute;
            right: 0px;
            width: 40px;
            margin-top: 17px;
            .hamburger{
                display: flex;
                flex-flow: column wrap;
                align-items: flex-end;
                width: 40px;
                height: 55px;
                transition: all 0.5s ease-in-out;
                & > div {
                    height: 3px;
                    background: black;
                    margin-bottom: 7px;
                    position: relative;
                    width: 40px;
                }

            }
        }
    .nav-bar__s {
        display: block;
        position: fixed;
        // width: 50vw;
        height: 105vh;
        background-color: rgba(0,0,0,1);
        top: -5vh;
        right: 0;
        list-style-type: none;
        padding: 50px;
        z-index: 10000;
        li {
            // display: inline-block;
            letter-spacing: 1px;
            color: white;


        }
    }

    .toggle-nav-bar__s {
        display: none;
    }

}




